/* colors */
:root {
  --color-beige: #fff0e5;
  --color-white: white;

  --color-background: var(--color-beige);
  --color-text: black;
}

html {
  /* background-color: purple;  */
  background-color: var(--color-background);
}

.global-wrapper {
  background-color: var(--color-background);
  /* border: 1px solid black; */
}

/* typography */
* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1 {
  font-size: 40px;
}

h2,
h3 {
  font-size: 26px;
}

h1,
h2,
h3,
.card-header {
  font-family: "JetBrains Mono", monospace;
  /* font-optical-sizing: auto; */
  font-weight: weight;
  font-style: normal;
}

/* reset defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
}

.global-wrapper {
  min-height: 100vh;
}

/* anchor to projects section margin */
:target {
  scroll-margin-top: 50px;
}
html {
  scroll-behavior: smooth;
}

/* basic styling  */

.global-wrapper {
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  max-width: 900px;
  margin: auto;
}

/* .wrapper > * {
  border: 2px solid black;
} */

/* header */
header {
  position: sticky;
  top: 0;

  z-index: 3;

  line-height: 3em;
  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header.sticking {
  background-color: white;
}

h1 {
  padding: 0.2em;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}

.nav-right > * {
  margin-inline: 1em;
}

/* ------------main------------------ */
.main {
  display: grid;
  grid-template-columns: 1fr;
}

.main > * {
  padding: 2rem;
}

.hero {
  text-align: center;
}

#bug-img {
  padding-top: 1em;
}

.cards {
}

.work,
.education,
.volunteer {
  margin: 2em 0;
}

.work > h3,
.education > h3,
.volunteer > h3 {
  padding-bottom: 1.2em;
}
.experience {
  padding-bottom: 2em;
}
.role {
  font-weight: bold;
}
.year {
  color: rgb(52, 52, 52);
  font-size: small;
}

.block {
  padding: 0.5em 0 0 0;
}

.cards > ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 2rem;
}

.card,
.work,
.education,
.volunteer {
  grid-column: auto;
  min-height: 200px;
  padding: 1rem;

  border: 4px solid black;
  border-radius: 4px;
  box-shadow: -5px 5px black;

  background-color: var(--color-white);
}

.card:hover {
  transform: translate(10px, -10px);

  box-shadow: -12px 12px 2px 1px rgba(0, 0, 255, 0.3);
}

.card-container {
  height: 100%;
}

.card-header {
  color: transparent;
}

.card-footer {
  position: relative;
}

/* links styling */
a {
  text-decoration: none;
}

a:link {
  color: var(--color-text);
}

/* footer */
footer {
  grid-column: 1 / 13;
}

/* media-queries */

@media (max-width: 450px) {
  .wrapper {
    padding-inline: 0;
  }
  .cards > ul {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
